*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.nav-list {
    text-align: center;
    padding: 3px 0;
    background-color: black;
    color: #ff6347;
    font-weight: 800;
    font-family: monospace;
    font-size: 1rem;
}

.nav-link {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #18d137;
}

.nav-link:active {
    color: #ffc252;
}

.todo-title {
    font-weight: 800;
    font-size: 1.25rem;
    font-family: serif;
    text-align: center;
    color: #0000ff;
    margin: 5px 0;
}

.todo-container {
    padding: 0 5px;
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
.todo-container .div2 {
    width: 70px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    row-gap: 5px;
}
.todo-input {
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 100%;
    transition: border-color 0.3s;
}

.todo-input:focus {
    border-color: #4A90E2;
    outline: none;
}

textarea{
    resize: none;
    padding: 7px !important;
}
.todo-button {
    padding: 5px;
    background-color: #4A90E2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color .2s;
}

.todo-button:hover {
    background-color: #357ABD;
}

.todo-list {
    list-style: none;
    margin-top: 20px;
    width: 100%;
}

#taskList{
    padding: 5px;
}

/* for scrollbar */
::-webkit-scrollbar {
    width: 5px;  /* Vertical scrollbar width */
    background-color: #ffffff;
    cursor: pointer;
}
::-webkit-scrollbar-thumb {
    background-color: #ffa797;
    border-radius: 15px;
}